<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uml.funfitness.mapper.ClassOrderMapper">

    <!-- 定义结果映射 -->
    <resultMap id="ClassOrderResultMap" type="org.uml.funfitness.pojo.ClassOrder">
        <id property="classOrderId" column="class_order_id"/>
        <result property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="coach" column="coach"/>
        <result property="memberName" column="member_name"/>
        <result property="memberAccount" column="member_account"/>
        <result property="classBegin" column="class_begin"/>
    </resultMap>

    <select id="findAll" resultMap="ClassOrderResultMap">
        SELECT *
        FROM class_order
    </select>

    <insert id="insertClassOrder" parameterType="org.uml.funfitness.pojo.ClassOrder">
        INSERT INTO class_order(class_order_id, class_id, class_name, coach, member_name, member_account, class_begin)
        VALUES (#{classOrderId}, #{classId}, #{className}, #{coach}, #{memberName}, #{memberAccount}, #{classBegin})
    </insert>

    <select id="selectClassOrderByMemberAccount" parameterType="java.lang.Integer" resultMap="ClassOrderResultMap">
        SELECT *
        FROM class_order
        WHERE member_account = #{memberAccount}
    </select>

    <delete id="deleteByClassOrderId" parameterType="java.lang.Integer">
        DELETE
        FROM class_order
        WHERE class_order_id = #{classOrderId}
    </delete>

    <select id="selectMemberByClassIdAndMemberAccount" parameterType="java.util.Map" resultMap="ClassOrderResultMap">
        SELECT *
        FROM class_order
        WHERE class_id = #{classId}
          AND member_account = #{memberAccount}
    </select>

    <select id="selectMemberOrderList" parameterType="java.lang.Integer" resultMap="ClassOrderResultMap">
        SELECT *
        FROM class_order
        WHERE class_id = #{classId}
    </select>

</mapper>
